div.default-layout {
	position: absolute;
	top: 110px;
	left: 310px;
	width: 1589px; /* 1890px - 302 */
	height: 1100px;
	background-color: dodgerblue;
}
div.default-layout form.defaultform {
	width:400px;
}

div.default-layout form.defaultform input.text {
	width:800px;
}
