div.demo-layout {
	position: absolute;
	top: 110px;
	left: 310px;
	width: 1590px; /* 1890px - 300 */
	height: 1100px;
	background-color: dodgerblue;
}

div.demo-layout form.demoform {
	position: absolute;
	top: 10px;
	left: 10px;
}

div.demo-layout form.demoform div {
	 font-size: 18px;
}

div.demo-layout form.demoform input.submit {
	position: absolute;
	left:10px;
	width: 60px;
	height: 20px;
}
