div.footer {
	position: absolute;
	top:750px;
	height: 60px;
	width: 100%;
	border-style: solid;
	border-color: white;
	background-color: lightblue;
    color: blue;
}
div.footer div.footer-text {
	font-size: 10px;
    color: blue;
	text-align: right;
	vertical-align:center;
}
div.footer div.licencing {
	bottom: 0px;
	font-size: 10px;
    color: darkblue;
	text-align: right;
	vertical-align:center;
}
