div.footer {
	position: absolute;
	top:700px;
	height: 100px;
	width: 100%;
	border-style: solid;
	border-color: white;
	background-color: lightblue;
	font-size: 50px;
    color: blue;
}
div.footer div.text {
	font-size: 10px;
    color: blue;
	text-align: right;
	vertical-align:center;
}
div.footer div.licencing {
	position: absolute;
	bottom: 0px;
	font-size: 10px;
    color: darkblue;
	text-align: left;
	vertical-align:center;
}
