div.right-hand-menu {
	position: absolute;
	right: 7px;
	width: 200px;
	background-color: DarkGrey;
}
div.right-hand-menu div.rhm-menu-item.a {
    text-align: right;
	font-size: 20px;
    color: red;
	width: 200px;
}
