div.top-menu {
	height: 100px;
	background-color: lightblue;
	width: 1890px;
}
div.top-menu div.logo img.top-menu-logo {
	height: 300px;
	width: 300px;
}
div.top-menu div.title {
	position: absolute;
	top: 0px;
	height: 100px;
	width: 80%;

}
div.top-menu div.title h1.header-title {
	font-size: 50px;
    color: red;
    text-align: center;
	vertical-align:center;
	height: 100px;
}
